---
layout: default
image:  http://jessicapaoli.com/assets/img/mock.jpg
---

<h1 class="page_title homepage_title">Jessica Paoli, “Skullface” for short, is a Design Babe dual-wielding compassion and cuteness.</h1>

<div id="collage">
  <div class="collage_container">
    <div class="poster usako draggable">
      <img src="/assets/img/washi-sparkle.png" alt="" class="washi">
      <img src="/assets/img/usako.jpg" class="art" alt="">
    </div>
    <img src="/assets/img/ice-cream-cat.png" alt="" class="draggable pin cat">
    <img src="/assets/img/super-kawaii_tshirt.gif" alt="" class="draggable kawaii-shirt">
    <img src="/assets/img/shoujo-dad-hat.gif" alt="" class="draggable shoujo-hat">
    <img src="/assets/img/skateboard.gif" alt="" class="draggable board">
    <img src="/assets/img/logos-i-made-hell-yeahhh.gif" alt="" class="draggable logoz">
    <div class="poster wallflower draggable">
      <img src="/assets/img/washi.png" alt="" class="washi">
      <img src="/assets/img/wallflower.gif" class="art" alt="">
    </div>
    <img src="/assets/img/very-cute.png" alt="" class="draggable sticker vcute">
    <div class="poster selfie draggable">
      <img src="/assets/img/washi-sparkle.png" alt="" class="washi">
      <img src="/assets/img/portrait.gif" class="polaroid" alt="">
    </div>
    <img src="/assets/img/lion.gif" alt="" class="draggable sticker lion">
    <img src="/assets/img/hexes.gif" alt="" class="draggable pin hexes">
  </div>
  </div>
</div>

<div class="homepage page_content">
  <ul>
    <li>
      🤞 I celebrate individuality, magic, and fun at <a href="http://falseluck.com/?utm_source=jp-home">False Luck {% include external-link.html %}</a>.
    </li>
    <li>
      💄 I make videos about <a href="http://youtube.com/c/skullfacekillah/?utm_source=jp-home">cruelty-free beauty {% include external-link.html %}</a>&nbsp; and more.
    </li>
    <li>
      👩🏻‍💻 I take on new projects selectively with <a href="http://grawlix.co/?utm_source=jp-home">Grawlix {% include external-link.html %}</a>.
    </li>
    <li>
      📝 I <a href="/blog">write</a> about my experiences in design, entrepreneurship, planning, and marketing.
    </li>
    <li>
      📓 I self-publish <a href="/shop">zines</a> covering all of the above topics.
    </li>
    <li>
      📐 I recommend <a href="http://designresources.party/?utm_source=jp-home">resources {% include external-link.html %}</a>&nbsp; for designers.
    </li>
    <li>
      🎧 I ask my friends about their <a href="http://securityquestions.club/?utm_source=jp-home">Security Questions {% include external-link.html %}</a>.
    </li>
    <li>
      🐱 Otherwise, I’m immersed in video games, my cats, and kpop.
    </li>
  </ul>

  <p>
    💕 As a designer, I’m passionate about inclusivity, irreverence, and intention in everything I do. Right now, I’m designing marketing experiences for millions of nerds worldwide at GitHub. I’ve had the pleasure of working with tech &amp; entertainment brands like Apple, Microsoft, Cards Against Humanity, IGN, and Vox Media on marketing and identity projects.
  </p>
</div>
