---
title: Shop
layout: default
---

<div class="shop">
  <!--
  <div class="page_content">
    <p>
      Each of these items opens to a new website. Some are owned by me, others are manufactured by trusted sources and awesome partners. If you have any questions, let me know!</p>
    </p>
  </div>
  -->
  <!--
  <ul class="shop_zines">
    {% assign sorted = (site.products | sort: 'date') | reverse %}
    {% for product in sorted %}
    <li>
      <a href="{{ product.url }}">{{ product.title }}</a>
    </li>
    {% endfor %}
  </div>
  -->

  <ul class="shop_products">
    <li>
      <a href="http://www.falseluck.com/product/shoujo-dad-hat">
        <img src="/media/shop/falseluck_shoujo-hat.jpg" alt="">
        <span>&ldquo;Shoujo&rdquo; dad hat ($20)</span> {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="http://www.falseluck.com/product/ice-cream-cat-lapel-pin">
        <img src="/media/shop/falseluck_ice-cream-cat.jpg" alt="">
        <span>&ldquo;Ice Cream Cat&rdquo; rose gold cloisonné lapel pin ($9)</span>
        {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="http://www.falseluck.com/product/h-exes-pin">
        <img src="/media/shop/falseluck_hexes.jpg" alt="">
        <span>&ldquo;All my exes live with hexes&rdquo; antique lapel pin ($9)</span>
        {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="http://www.falseluck.com/product/h-exes-pin">
        <img src="/media/shop/falseluck_snack-cats.jpg" alt="">
        <span>&ldquo;Snack cats&rdquo; vintage-feel fitted crop top ($22)</span> {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="http://www.falseluck.com/product/shoujo-beanie">
        <img src="/media/shop/falseluck_shoujo-beanie.jpg" alt="">
        <span>&ldquo;Shoujo&rdquo; beanie ($20)</span> {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="https://cottonbureau.com/products/super-kawaii">
        <img src="/media/shop/cotton-bureau_super-kawaii.jpg" alt="">
        <span>&ldquo;Super Kawaii&rdquo; t-shirt ($20)</span> {% include external-link.html %}
      </a>
    </li>

    <li>
      <a href="http://lostlustsupply.com/shop/false-luck-pin">
        <img src="/media/shop/falseluck_lost-lust.jpg" alt="">
        <span>False Luck x Lost Lust pin ($8)</span> {% include external-link.html %}
      </a>
    </li>

  <li>
    <a href="https://falseluck.com/product/raised-by-the-internet-sticker">
      <img src="/media/shop/falseluck_raisedbytheinternet.jpg">
      <span>&ldquo;Raised By The Internet&rdquo; sticker ($4)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="https://falseluck.com/product/skate-cat-sticker">
      <img src="/media/shop/falseluck_skatecat.jpg">
      <span>&ldquo;Skate Cat&rdquo; sticker ($4)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="https://falseluck.com/product/very-cute-temporary-tattoo-set">
      <img src="/media/shop/falseluck_tattoos.jpg" alt="">
      <span>&ldquo;Very Cute&rdquo; temporary tattoo set ($6.00)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="https://falseluck.com/product/meiku-sticker">
      <img src="/media/shop/falseluck_meiku.jpg" alt="">
      <span>&ldquo;Meiku&rdquo; sticker ($4)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="https://falseluck.com/product/super-kawaii">
      <img src="/media/shop/falseluck_superkawaii-sticker.jpg" alt="">
      <span>&ldquo;Super Kawaii sticker&rdquo; ($4)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="http://www.falseluck.com/product/needle-lion-sticker">
      <img src="/media/shop/falseluck_lion.jpg" alt="">
      <span>&ldquo;Needle Lion&rdquo; sticker ($4)</span> {% include external-link.html %}
    </a>
  </li>

  <li>
    <a href="https://falseluck.com/product/meiku-sticker">
      <img src="/media/shop/falseluck_very-cute-knuckle-tats.jpg" alt="">
      <span>&ldquo;Very Cute&rdquo; sticker ($4)</span> {% include external-link.html %}
    </a>
  </li>
</ul>
</div>
