/* Blog */

.notebook_notes-list {
   margin: 2rem auto 0 auto;
   text-align: center;
   width: 55%;
   list-style: none;
}






.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4rem
}
.shop figure {
    width: 30%
}
@media all and (max-width: 500px) {
    .shop {
        flex-direction: column
    }
    .shop figure {
        width: 100%
    }
}
@media all and (min-width: 501px) and (max-width: 800px) {
    .shop figure {
        width: 50%
    }
}
.shop figure figcaption {
  text-align: center;
    padding-left: 0;
    width: 100%;
    border: 0;
    margin: 0;
}