/* Footer */

.site_footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font: $font-weight_normal .9rem $font-family_head;
    text-align: center;
    @media all and (max-width: 800px) {
        .site_footer {
            padding: 2rem;
        }
    }
}

.footer_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    @media all and (max-width: 1100px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.mini-nav ul {
    list-style: none;
    @media all and (max-width: 700px) {
        margin-top: 2rem;
    }
}
.mini-nav li {
    display: inline;
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
    @media all and (max-width: 700px) {
        a {
            display: inline-block;
            margin: 12px;
            padding: 3px;
        }
    }
}

.copyright {
    margin-top: 4rem;
    text-align: center;
    font: $font-weight_normal .75rem $font-family_head;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.social-media ul {
    list-style: none;
}

@media all and (max-width: 1100px) {
    .social-media {
        padding-bottom: 1.33333rem
    }
}
.social-media svg {
    width: 17px;
    height: 17px;
    fill: #7f7f7f;
}
.social-media li {
    display: inline-block;
    margin-right: 20px;
    @media all and (max-width: 700px) {
        margin-right: 3rem;
        margin-top: 1rem;
    }
}
.social-media li:last-child {
    margin-right: 0
}
.social-media li a:hover svg {
    fill: $color_primary;
}

.arrow {
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 6px;
}

a .arrow {
    background-color: white;
    padding: 3px;
}

.about_contact a .arrow {
    background-color: #f9f9f9;
}