.site-header {
    padding-top: 1.33333rem;
    padding-bottom: 1.33333rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.site-navigation a {
    margin-right: 15px;
    font-family: $font-family_head;
    font-weight: $font-weight_bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &:hover {
        color: $color_primary;
    }
}

.intro .site-navigation a:hover {
    color: white;
}

    .site-navigation a:last-child {
        margin-right: 0;
    }

#logo {
    position: relative;
    left: 15px;
    line-height: 1;
}

.site-logo {
    height: 50px;
    fill: $color_text;
}

@media all and (max-width: 800px) {
    .site-header {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 1.33333rem
    }
    .site-navigation {
        order: 3;
        font-size: .9rem;
        line-height: 2;
        text-align: center
    }
    .site-logo {
        order: 1;
        width: 140px;
        margin-bottom: 10px;
    }
    #logo {
        left: 0;
    }
}

.intro #logo:hover svg {
    fill: white;
}

#logo:hover svg {
    fill: $color_primary;
}

