.site_header {
    padding: 1.33333rem 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: $color-primary;
}

.header_navigation ul {
    list-style: none;
}

.header_navigation li {
    display: inline-block;
}

.header_navigation li:first-child:after {
  content: "\27E1";
  font-weight: $font-weight_light;
  color: rgba(0,0,0,.25);
  margin-left: 1rem;
  margin-right: .9rem;
}

.header_navigation a {
    margin-right: 15px;
    font-family: $font-family_head;
    font-weight: $font-weight_bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    &:hover {
        color: white;
    }
}
    .header_navigation a:last-child {
        margin-right: 0;
    }

#logo {
    position: relative;
    left: 15px;
    line-height: 1;
}

.header_logo {
    height: 50px;
    fill: $color_text;
}

a:hover .header_logo {
    fill: white;
}

@media all and (max-width: 800px) {
    .site_header {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 1.33333rem
    }
    .header_navigation {
        order: 3;
        font-size: .9rem;
        line-height: 2;
        text-align: center
    }
    .header_logo {
        order: 1;
        width: 140px;
        margin-bottom: 10px;
    }
    #logo {
        left: 0;
    }
}
