/* Hero */

.intro {
  background: $color_primary url('/media/baddd.gif') center center;
  background-size: cover;
}

.post_content {
  max-width: 36rem;
  margin: 2rem auto;
}

.site_content p.rss-subscribe {
  text-align: center;
  width: 100%;
  max-width: 100rem;
  border-top: solid 1px $color_light;
  padding-top: 2rem;
  margin-top: 5rem;
  font-size: 1rem;
}

.intro_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: -6vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 70vh;
}

.intro h1 {
  max-width: 800px;
  margin: 0 auto;
  font-weight: $font-weight_normal;
  font-size: 3.25rem;
  line-height: 1.35;
  @media all and (max-width: 1000px) {
    padding: 0 10%;
    font-size: 2.75rem;
  }
  @media all and (max-width: 600px) {
    font-size: 1.6rem;
  }
}
