/* Icons */

.icon_d20 {
  fill: #ffc600;
}

.icon_eyg-shield {
  fill: #ef1319;
}

.icon_concert {
  fill: #64c0b3;
}

.icon_ign {
  fill: #bf1313;
}

.icon_logos {
  fill: #4fd2f7;
}

.icon_illo {
  fill: #a800ff;
}
