/* Icons */

.icon_d20 {
  fill: #02a8ce;
}

.icon_eyg-shield {
  fill: #ef1319;
}

.icon_concert {
  fill: #64c0b3;
}

.icon_ign {
  fill: #bf1313;
}

.icon_logos {
  fill: #4fd2f7;
}

.icon_illo {
  fill: #a800ff;
}

#projects_navigation svg {
  transition: fill .25s ease-in-out;
}


#projects_navigation .active_cards svg,
#projects_navigation .active_cards a:hover svg {
  fill: #1d8ec6;
}

#projects_navigation .active_eater svg,
#projects_navigation .active_eater a:hover svg {
  fill: #ef1319;
}

#projects_navigation .active_concert svg,
#projects_navigation .active_concert a:hover svg {
  fill: #64c0b3;
}

#projects_navigation .active_ign svg,
#projects_navigation .active_ign a:hover svg {
  fill: #bf1313;
}

#projects_navigation .active_logo svg,
#projects_navigation .active_logo a:hover svg {
  fill: #4fd2f7;
}

#projects_navigation .active_illo svg,
#projects_navigation .active_illo a:hover svg {
  fill: #a800ff;
}