@import 'icons';

/* Projects sticky nav */

#projects_navigation {
  position: fixed;
  right: 0px;
  text-align: center;
  bottom: 3%;
  cursor: default;

  ul {
    list-style: none;
    margin-bottom: 8px;
   }
}

#projects_navigation a {
  display: block;
  background: rgba(0,0,0,.04);
  width: 48px;
  height: 48px;
}

#projects_navigation svg {
  fill: $color_text;
  width: 26px;
  height: 26px;
  margin-top: 8px;
}

#projects_navigation a:hover {
  svg {
    fill: initial;
  }
}