<footer class="site-footer">
  <nav>
    <a href="http://jessicapaoli.com">&larr; Back to Portfolio</a>
    <a href="archive">View Archive &rarr;</a>
  </nav>
</footer>

<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script>
  var $grid = $('.posts').imagesLoaded( function() {
    $grid.isotope({
      itemSelector: '.post',
      layoutMode: 'masonry'
    });
  });
</script>

</body>
</html>