<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width">

  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="icon" href="/favicon.ico">

  {% feed_meta %}

  <title>{% if page.title %}{{ page.title }} | {% endif %} Jessica Paoli, Designer</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">

  <meta name="description" content="{{site.description}}"/>
  <meta property="og:description" content="{% if post.description %}{{ post.description | markdownify | strip_html | strip_newlines | escape_once }}{% elsif page.description %}{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:description" content="{% if post.description %}{{ post.description | markdownify | strip_html | strip_newlines | escape_once }}{% elsif page.description %}{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:image" content="{% if page.date %}{{ site.url }}/{{ site.baseurl }}{{ site.mediapath.post }}{{ page.date | date: '%Y' }}/jessicapaoli-dot-com_{{ page.image }}{% elsif page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta name="twitter:image" content="{% if page.date %}{{ site.url }}/{{ site.baseurl }}{{ site.mediapath.post }}{{ page.date | date: '%Y' }}/jessicapaoli-dot-com_{{ page.image }}{% elsif page.image %}{{ page.image | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:image:alt" content="{{ page.title}}" />
  <meta name="twitter:image:alt" content="{{ page.title}}" />

  <meta name="twitter:site" content="@skullface">
  <meta name="twitter:creator" content="@skullface">
  <meta property="article:author" content="http://facebook.com/skvllface" />

  <link rel="stylesheet" href="/assets/styles/main.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31807302-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-31807302-1');
  </script>

  <script src="https://use.typekit.net/fgx5ibe.js"></script>
  <script>
    try{Typekit.load({ async: true });}catch(e){}
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
  {% if page.layout == 'home' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
  {% endif %}
</head>

{% if page.layout == 'post' %}
<body class="body_post">
{% else %}
<body>
{% endif %}

{% if page.layout != 'home' %}
  {% include nav.html %}
{% endif %}
