/**
 *
 * @group Typography
 *
*/

/**
 * Defining weights, sizes, and faces
*/

// Weights + sizing
$font-weight_hairline:  100;
$font-weight_thin:      200;
$font-weight_light:     300;
$font-weight_normal:    400;
$font-weight_medium:    500;
$font-weight_semibold:  600;
$font-weight_bold:      700;
$font-weight_heavy:     800;
$font-weight_black:     900;

$font-size_base:        1.325rem;
$font-size_small:       0.8rem;

$leading:               1.6;

// Family stacks
$font-family_secondary: "leitura-news", "Georgia", "Times New Roman", serif;
$font-family_primary:   "ARS Maquette", "ars-maquette-web", "Avenir Next", "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family_body: $font-family_secondary;
$font-family_head: $font-family_primary;

/**
 * Site-wide typographic styles
*/

// Body
html {
  font-family: $font-family_primary;
  line-height: $leading;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
}

h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.75rem;
  font-weight: $font-weight_normal;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

// Paragraphs
.site_content {
  p,
  ul,
  ol,
  figure,
  figcaption {
    font-family: $font-family_secondary;
    color: $color_text;
  }
}

p:not(:only-child),
ul:not(:only-child),
ol:not(:only-child) {
  margin-bottom: 2rem;
}

blockquote {
  margin-left: 4rem;
  font-style: italic;
}

// Body text
.page_content p,
.post_content p,
.page_content ul,
.post_content ul,
.page_content ol,
.post_content ol,  {
  font-size: $font-size_base;

  @media screen and (min-width: 1550px) {
    font-size: $font-size_base * 1.16;
  }

  @media screen and (max-width: 550px) {
    font-size: $font-size_base * 0.9;
  }
}

@keyframes animatedBackground {
  0%   { background-position: 20% bottom; }
  100% { background-position: 90% bottom; }
}

.page_content p,
.post_content p,
.page_content ul,
.post_content ul,
.page_content h2,
.post_content h2,
.page_content h3,
.post_content h3,
.page_content .media,
.post_content .media,
.page_content figure,
.post_content figure,
.page_content figcaption,
.post_content figcaption {
  margin-left: auto;
  margin-right: auto;
}

.page_content p,
.post_content p,
.page_content ul,
.post_content ul,
.page_content h2,
.post_content h2,
.page_content h3,
.post_content h3,
.media,
figure,
figcaption,
.site_content .post_blurb {
  a {
    font-size: 95%;
    background-image: url('../img/line.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 40% bottom;
    padding-bottom: 1px;
    color: inherit;
    font-weight: $font-weight_bold;
    &:nth-of-type(2) {
      background-position: 60% bottom;
  }
    &:hover, &:focus {
      animation: animatedBackground 2.5s linear infinite;
      color: #4EC4C1;
    }
  }
}


// Links
.site_content a {
  font-weight: $font-weight_bold;
  font-family: $font-family_primary;
  color: $color_text;
  transition: color 80ms ease-in-out,
              fill 100ms ease-in-out,
              opacity 100ms ease-in-out,
              filter 100ms ease-in-out,
              background 100ms ease-in-out,
              box-shadow 150ms ease-in-out,
              border 150ms cubic-bezier(0.65, 0.05, 0.36, 1);
  &:hover, &:focus {
    color: darken($color_primary, 10%);
  }
}

.site_content a.button {
  &:hover, &:focus {
    color: $color_text;
  }
}

.external-link {
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  fill: $color_gray-300;
}

a:hover .external-link {
  fill: $color_primary;
}

// Horizontal rule
hr:after {
    content: "\2014\2014";
    display: block;
    margin: 0 auto 2.5rem auto;
    text-align: center;
    font-size: 2.5rem;
    font-family: $font-family_head;
    letter-spacing: -1rem;
}

// Silent classes
%small-caps {
  font-family: $font-family_head;
  font-size: $font-size_small;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

strong {
  @extend %small-caps;
  background-color: $color_gray-100;
  font-size: 1rem;
  padding: 3px 6px 5px 8px;
  margin-right: .25rem;
}
