/// @group colors
/// defined by descriptive variables and functional variables as needed
/// =============



$color_dark:        #151515;
$color_light:       #eee;
$color_text:        #151515;
$color_error:       red;
$color_primary:     #a5c73d;