---
import Layout from "../layouts/Layout.astro";
const title = "About Skullface";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <p>
      I’m <b>Skully</b> (short for <b>@skullface</b>) and I’m a creative
      generalist on the Internet and IRL in the Midwest. I love my cat Bruce 🐱,
      video games 🎮, k-pop 🕺, and the Cleveland&nbsp;Cavaliers 🏀.
    </p>

    <img alt="" src="./collage.jpg" class="border collage" />

    <div>
      <div class="grid md:grid-cols-5 justify-start items-start md:gap-8">
        <h2 class="">Design bio</h2>
        <p class="md:col-span-4 md:mt-[calc(var(--spacer)_*_6)]">
          SKULLFACE is a design leader who defines and elevates Brand and
          Marketing experiences for technology companies. She works as a design
          engineer, visual designer, art director, front-end developer, and
          brand strategist. She likes kerning pairs as much as parallelism as
          much as semantic markup as much as halftones. Through people
          management and design operations, mentorship as an experienced IC, or
          taking on a consulting project, Skully helps lead design and
          engineering teams toward business success and collaborative creative
          health.
        </p>
      </div>
      <div class="grid md:grid-cols-5 justify-start items-start md:gap-8">
        <h2>Artist bio</h2>
        <p class="md:col-span-4 md:mt-[calc(var(--spacer)_*_6)]">
          SKULLFACE is a visual artist who dual wields compassion and cuteness.
          She explore themes of love, justice, and identity as a queer Latina
          via graphic shapes, fun color, and a little cheek. Skullface’s work
          mixes digital illustration with block printing and risography to
          mirror her whimsical and radical interior world. She leaves a trail of
          glitter in her wake at her home studio and <a
            href="https://zygotepress.com">Zygote Press</a
          >. Find her personal art and design work at <a
            href="https://falseluck.shop">False Luck</a
          >.
        </p>
      </div>
    </div>

    <h2>Exhibitions</h2>
    <ul class="md:list-style-none list-disc">
      <li>2016 Moon Prism Power, San Francisco (group show)</li>
      <li>2014 Bit Bash, Chicago (group show)</li>
      <li>2013 Ink Wars, Cleveland (participating artist)</li>
      <li>2013 Weapons of Mass Creation IV, Cleveland (group show)</li>
    </ul>

    <h2>Publications</h2>
    <ul class="md:list-style-none list-disc">
      <li>
        <i>Cards Against Humanity Comic Book #01</i> at SDCC, 2017, contributing
        artist + writer
      </li>
      <li>
        <i>Secret Loves of Geek Girls Redux</i>, Dark Horse, 2017, contributing
        artist + writer
      </li>
      <li>
        <i>Secret Loves of Geek Girls</i>, Dark Horse, 2016, contributing artist
      </li>
    </ul>

    <h2>Speaking</h2>
    <ul class="md:list-style-none list-disc">
      <li>2021 Salary negotiation panelist, Women Who Code Boston</li>
      <li>2020 Unconventional pathways into tech panelist, Code Tenderloin</li>
    </ul>

    <h2>Education and training</h2>
    <ul class="md:list-style-none list-disc">
      <li>
        2024 <i>Power Shift</i> Leadership Accelerator, Active Voice
      </li>
      <li>
        2021 <i>Ethics, Public Policy, Technological Change</i>, Stanford
        University
      </li>
    </ul>

    <h2>Press</h2>
    <ul class="md:list-style-none list-disc">
      <li>Dribbble Timeout interview</li>
      <li>Kickstarter, Fashion campaign feature + Staff Pick</li>
    </ul>

    <h2>Colophon</h2>
    <p>
      This website was built with Astro v5, powered by <a
        href="https://www.typescriptlang.org/">TypeScript</a
      > and
      <a href="https://tailwindcss.com/">Tailwind v3</a>. Hosted on GitHub Pages
      via <a
        href="https://github.com/skullface/skullface.github.io/blob/main/.github/workflows/deploy.yml"
        >GitHub Actions</a
      >.
    </p>
    <p>
      Non-invasive analytics are powered by <a href="https://usefathom.com/"
        >Fathom</a
      >. I don’t want your data or your cookies — I just want to know if you
      like my stuff.
    </p>
    <p>
      I use <a href="https://code.visualstudio.com/">VS Code</a> with the <a
        href="https://yoncetheme.com/">Yoncé theme</a
      > as my code editor, Claude and ChatGPT as a pair programmer (<a
        href="/ai">AI notice</a
      >), <a href="https://github.com/apps/desktop">GitHub Desktop</a> for version
      control, and <a href="https://app.warp.dev/referral/Q4N3KW">Warp</a> with <a
        href="https://github.com/skullface/dotfiles/tree/main/terminal"
        >a custom theme</a
      > as my terminal.
      <p>
        Typeset in <a
          class="font-sans"
          href="http://arstype.angusrshamal.com/ars-maquette-2/webfont"
          >ARS Maquette</a
        >, <a
          class="font-serif"
          href="https://adobe-fonts.github.io/source-serif/">Source Serif</a
        >, and <a
          class="font-mono"
          href="https://quoteunquoteapps.com/courierprime/">Courier Prime</a
        >.
      </p>
      <p>
        Blog posts are usually drafted during <a
          href="https://internetpeoplewritingclub.substack.com/">Writing Club</a
        > with <a href="https://www.youtube.com/watch?v=HuFYqnbVbzY"
          >Lofi Girl jazz radio</a
        > in the background.
      </p>
    </p>
  </main>
</Layout>
