---
import Layout from "../layouts/Layout.astro";
const title = "AI statement";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <p>
      For full transparency, no works published on skullface.me were written by
      an AI tool.
    </p>

    <p>
      I use <i>tools powered by large language models</i> (“generative AI” or “genAI”)
      for research and brainstorming (<a href="https://www.perplexity.ai/"
        >Perplexity</a
      >, <a href="https://openai.com/chatgpt/overview/">ChatGPT</a>) and pair
      programming (<a href="https://www.anthropic.com/claude">Claude</a>, <a
        href="https://github.com/features/copilot">Copilot</a
      >, <a href="https://v0.dev/">v0</a>) in the same way I use a search
      engine, threads on Stack Overflow or GitHub, or questions I’d ask a friend
      or mentor. I then verify the tool is not hallucinating via search engine.
      After verification, I use the tools’ output and adapt it to my own work.
    </p>

    <p>
      I have fundamental disagreements with the ethics of genAI when it comes to
      <a
        href="https://www.bloomberg.com/graphics/2024-ai-data-centers-power-grids/"
        >energy consumption</a
      >, <a href="https://www.ajl.org/">bias and prejudice of training data</a>, <a
        href="https://hbr.org/2023/04/generative-ai-has-an-intellectual-property-problem"
        >privacy and copyright of training data</a
      >, and <a
        href="https://www.reuters.com/technology/us-prosecutors-see-rising-threat-ai-generated-child-sex-abuse-imagery-2024-10-17/"
        >the potential for abuse</a
      >. I chose to use text-based genAI tools 1. to keep up with the technology
      as a creative technologist and 2. to replace or speed up parts of my
      workflows while other tools lag behind (like Google search).
    </p>

    <p>
      I use genAI tools as <i>tools</i> to supplement my processes. I do not use
      AI output as a replacement for my own voice or perspective.
    </p>

    <p>
      This page was inspired by <a href="https://www.bydamo.la/p/ai-manifesto"
        >Damola</a
      > via <a href="https://sive.rs/ai">Derek Sivers</a> and is listed at <a
        href="https://slashai.page/">slashai.page</a
      >.
    </p>

    <p>
      If my use of, or view on, AI changes in the future, I’ll update this page.
    </p>

    <p>
      Originally published on December 4, 2024. Last updated on December 4,
      2024.
    </p>
  </main>
</Layout>
