---
import Layout from "../layouts/Layout.astro";
const title = "Contact Skullface";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>

    <p class="">
      💌 If you’d like to get in touch, send a <a
        href="https://bsky.app/profile/skullface.me">Bluesky DM</a
      >, <a href="https://twitter.com/skullface">Twitter DM</a>, or an email to
      <span class="inline relative copy-element">
        <button
          aria-label="Copy email address: meow at skullface dot me"
          class="transition-all ease-in-out duration-200 bg-[color-mix(in_lab,_var(--color-midground),_var(--color-background)_90%)] hover:bg-background hover:shadow-[inset_0_0_0_1.5px_color-mix(in_lab,_var(--color-midground),_var(--color-background)_75%)] pl-2 pr-1 rounded mb-0 inline-flex items-center copy-button"
          >&#109;&#101;&#111;&#119;&#64;&#115;&#107;&#117;&#108;&#108;&#102;&#97;&#99;&#101;&#46;&#109;&#101;</button
        ><span
          role="status"
          aria-live="polite"
          class="copy-feedback hidden absolute transition-all opacity-0 ease-in-out duration-200 -top-7 rounded p-2 left-[50%] text-[0.8125rem] bg-foreground text-background whitespace-nowrap text-white leading-none -translate-x-1/2"
          >Email address copied</span
        ></span
      >.
    </p>

    <h2>One-on-one design</h2>
    <p>
      I’m currently taking on new art, design, and development projects with
      select clients, with priority given to…
    </p>
    <ul class="md:list-style-none list-disc">
      <li>grassroots nonprofits with progressive missions 🌱</li>
      <li>worker-owned cooperatives and collectives ✊</li>
      <li>independent musicians, venues, and record labels 💿</li>
      <li>editorial art for publications 📰</li>
      <li>cute stuff 🎀</li>
    </ul>

    <h2>Questions and answers</h2>
    <p>
      For design, code, biz, or life advice, feel free to hit me up for help.
      There’s a good chance you’re wondering about the same thing someone else
      is, so, ask away — it might make a great blog post or video!
    </p>
  </main>
</Layout>

<style>
  .copy-button::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 0 0 calc(var(--spacer) * 0.5);
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%23ae23ff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.25' d='m2.3 3.8h-.3c-.8 0-1.5.7-1.5 1.5v4.8c0 .8.7 1.5 1.5 1.5h4.8c.8 0 1.5-.7 1.5-1.5m-3.1-9.6h4.8c.8 0 1.5.7 1.5 1.5v4.8c0 .8-.7 1.5-1.5 1.5h-4.8c-.8 0-1.5-.7-1.5-1.5v-4.8c0-.8.7-1.5 1.5-1.5z'/%3E%3C/svg%3E");
  }

  .copy-button[data-status="copied"]::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath fill='%23ae23ff' d='m10 0h-8c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2zm-.9 4.4-3.4 4.2c-.1.2-.4.3-.6.3s-.4-.1-.6-.3l-1.7-2c-.1-.2-.2-.4-.2-.5 0-.2.1-.4.3-.5s.4-.2.5-.2c.2 0 .4.1.5.3l1.1 1.3 2.8-3.5c.3-.3.7-.4 1.1-.1.2.1.3.3.3.5s0 .4-.2.5z'/%3E%3C/svg%3E");
  }

  .copy-feedback {
    font-family: var(--font-family-sans);
  }
</style>

<script is:inline>
  const copyElement = document.querySelector(".copy-element");
  const copyButton = copyElement.querySelector(".copy-button");
  const copyFeedback = copyElement.querySelector(".copy-feedback");

  function copyEmail() {
    const email = copyButton.textContent;

    navigator.clipboard
      .writeText(email)
      .then(() => {
        copyFeedback.style.display = "block";
        copyFeedback.style.opacity = "1";

        copyButton.setAttribute("data-status", "copied");

        setTimeout(() => {
          copyFeedback.style.opacity = "0";
          copyButton.removeAttribute("data-status");
        }, 1500);
      })
      .catch((err) => {
        console.error("Failed to copy text:", err);
      });
  }

  copyButton.addEventListener("click", copyEmail);
  copyButton.addEventListener("keydown", (event) => {
    if (event.key === "Enter" || event.key === " ") {
      event.preventDefault();
      copyEmail();
    }
  });
</script>
