---
import Layout from "../layouts/Layout.astro";
const title = "Contact Skullface";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>

    <p>
      💌 If you’d like to get in touch, send a <a
        href="https://bsky.app/profile/skullface.me">Bluesky DM</a
      > or an email to <code
        >&#109;&#101;&#111;&#119;&#64;&#115;&#107;&#117;&#108;&#108;&#102;&#97;&#99;&#101;&#46;&#109;&#101;</code
      >.
    </p>

    <h2>Career opportunities</h2>
    <p>
      Let’s talk about making some creative–technical magic together at your
      organization. I’m open to full-time opportunities for U.S. residents.
    </p>

    <h2>One-on-one design</h2>
    <p>
      I’m currently taking on new art, design, and development projects with
      select clients, with priority given to…
    </p>
    <ul>
      <li>🌱 grassroots nonprofits with progressive missions</li>
      <li>✊ worker-owned cooperatives and collectives</li>
      <li>💿 independent musicians, venues, and record labels</li>
      <li>📰 editorial art</li>
      <li>🎀 cute stuff</li>
    </ul>

    <h2>Questions and answers</h2>
    <p>
      For design, code, biz, or life advice, feel free to hit me up for help.
      There’s a good chance you’re wondering about the same thing someone else
      is, so, ask away — it might make a great blog post or video!
    </p>
  </main>
</Layout>
