---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const title = "More";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul class="grid gap-4">
      <li>
        <Card
          href="/favorites"
          title="Favorites"
          body="My favorite things and where you can get ’em. ♡"
        />
      </li>
      <li>
        <Card
          href="/colophon"
          title="Colophon"
          body="How this site was made. 📓"
        />
      </li>
      <li>
        <Card
          href="/ai"
          title="AI statement"
          body="Where AI tools fit into my work. 🤖"
        />
      </li>
    </ul>
  </main>
</Layout>
