---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const title = "More";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul class="grid gap-4">
      <li>
        <Card href="/favorites" title="Favorites" body="poop" />
      </li>
      <li>
        <Card href="/colophon" title="Colophon" body="poop" />
      </li>
      <li>
        <Card href="/uses" title="Uses" body="poop" />
      </li>
      <li>
        <Card href="/ai" title="AI statement" body="poop" />
      </li>
    </ul>
  </main>
</Layout>
