---
import Layout from "../layouts/Layout.astro";
const title = "Uses";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <p>
      I use <a href="https://code.visualstudio.com/">VS Code</a> with the <a
        href="https://yoncetheme.com/">Yoncé theme</a
      > as my code editor, Claude and ChatGPT as a pair programmer (<a
        href="/ai">AI notice</a
      >), <a href="https://github.com/apps/desktop">GitHub Desktop</a> for version
      control, and <a href="https://app.warp.dev/referral/Q4N3KW">Warp</a> with <a
        href="https://github.com/skullface/dotfiles/tree/main/terminal"
        >a custom theme</a
      > as my terminal.
    </p>
  </main>
</Layout>
