---
import Social from "./Social.astro";
---

<footer
  class="site-footer text-midground max-w-page p-[2rem] mx-auto text-pretty justify-between flex-wrap before:basis-full before:content-['————'] before:tracking-[-2px] before:opacity-50 text-[0.8125rem] gap-4 flex"
>
  <p class="">
    © skullface, 2024. Ain’t no stoppin’ me.<br />Copywritten, so don’t copy
    me.<a href="https://youtu.be/FPoKiGQzbSQ?si=DLH_T_tUOHkSOHha&t=133">*</a>
  </p>
  <ul class="social-links">
    <li>
      <Social platform="bluesky" username="skullface.me" />
    </li>
    <li>
      <Social platform="github" />
    </li>
    <li>
      <Social platform="instagram" username="skvllface" />
    </li>
    <li>
      <Social platform="letterboxd" username="jsca" />
    </li>
  </ul>
</footer>
