---
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on:
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </p>
</footer>
