---
import Social from "./Social.astro";
---

<footer class="text-midground max-w-page p-[2rem] mx-auto text-pretty before:content-['————'] before:tracking-[-2px] before:opacity-50 text-[0.75rem]">
  <p class="">
    © skullface, 2024. Ain’t no stoppin’ me. Copywritten, so don’t copy me.<a href="https://youtu.be/FPoKiGQzbSQ?si=DLH_T_tUOHkSOHha&amp;t=133">*</a>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </p>
</footer>
