---
import Logo from "../components/Logo.astro";
---

<header>
  <nav class="py-4 px-6 flex justify-between items-center">
    <Logo />
    <ul class="list-none flex gap-4 leading-none">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/more">More</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
