---
const { platform, username } = Astro.props as {
  platform: "bluesky" | "letterboxd" | "github" | "instagram";
  username: string;
  hover: string;
};

const svgs = {
  bluesky: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M110.8,61.6C68.9,28.6,0,4.7,0,82.5s9,131.7,13.5,151.1c19.5,64.3,85.3,80.8,145.2,71.8-103.3,16.5-130.2,74.8-73.4,133.2,107.8,112.2,155.7-26.9,167.7-62.8l3-7.5,3,7.5c12,35.9,59.9,175,167.7,62.8,56.9-58.3,29.9-116.7-73.4-133.2,59.9,9,125.8-7.5,145.2-71.8,4.5-19.4,13.5-134.7,13.5-151.1,0-77.8-68.9-53.9-110.8-20.9-58.4,43.4-122.8,133.2-145.2,181-22.5-47.9-86.8-137.6-145.2-181Z" fill="currentColor"/></svg>`,
  github: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g class="inverted"><path d="m337.6 504.5c-12.8 2.6-17.6-5.4-17.6-12.1s.3-36.1.3-70.2-8-39.2-17.3-47.2c57-6.4 116.8-28.1 116.8-126s-9.9-50.7-26.2-68.6c2.6-6.4 11.5-32.6-2.6-67.7 0 0-21.4-7-70.4 26.2-20.5-5.7-42.3-8.6-64-8.6s-43.5 2.9-64 8.6c-49-32.9-70.4-26.2-70.4-26.2-14.1 35.1-5.1 61.3-2.6 67.7-16.3 17.9-26.2 40.8-26.2 68.6 0 97.7 59.5 119.7 116.5 126-7.4 6.4-14.1 17.6-16.3 34.1-14.7 6.7-51.5 17.6-74.6-21-4.8-7.7-19.2-26.5-39.4-26.2-21.4.3-8.6 12.1.3 16.9 10.9 6.1 23.4 28.7 26.3 36.1 5.1 14.3 21.7 41.8 86.1 30 0 21.4.3 41.5.3 47.6s-4.8 14.4-17.6 12.1c-101.7-33.9-175-129.3-175-242.3s114.6-255.3 256-255.3 256 114.2 256 255.3-73.3 208.4-174.4 242.2z"/></g><g class="standard"><path d="m337.6 504.5c-12.8 2.6-17.6-5.4-17.6-12.1s.3-36.1.3-70.2-8-39.2-17.3-47.2c57-6.4 116.8-28.1 116.8-126s-9.9-50.7-26.2-68.6c2.6-6.4 11.5-32.6-2.6-67.7 0 0-21.4-7-70.4 26.2-20.5-5.7-42.3-8.6-64-8.6s-43.5 2.9-64 8.6c-49-32.9-70.4-26.2-70.4-26.2-14.1 35.1-5.1 61.3-2.6 67.7-16.3 17.9-26.2 40.8-26.2 68.6 0 97.7 59.5 119.7 116.5 126-7.4 6.4-14.1 17.6-16.3 34.1-14.7 6.7-51.5 17.6-74.6-21-4.8-7.7-19.2-26.5-39.4-26.2-21.4.3-8.6 12.1.3 16.9 10.9 6.1 23.4 28.7 26.3 36.1 5.1 14.3 21.7 41.8 86.1 30 0 21.4.3 41.5.3 47.6s-4.8 14.4-17.6 12.1c-101.7-33.9-175-129.3-175-242.3s114.6-255.3 256-255.3 256 114.2 256 255.3-73.3 208.4-174.4 242.2z" fill="currentColor"/></svg>`,
  letterboxd: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m256 512c-141.4 0-256-114.6-256-256s114.6-256 256-256 256 114.6 256 256-114.6 256-256 256zm-87-406.5v286.7h193.7v-71.6h-119.2v-215.1z" fill="currentColor"/></svg>`,
  instagram: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m366.6 512h-221.2c-80.2 0-145.4-65.2-145.4-145.4v-221.2c0-80.2 65.2-145.4 145.4-145.4h221.2c80.2 0 145.4 65.2 145.4 145.4v221.2c0 80.2-65.2 145.4-145.4 145.4zm-221.2-466.6c-55.1 0-100 44.8-100 100v221.2c0 55.1 44.8 100 100 100h221.2c55.1 0 100-44.8 100-100v-221.2c0-55.1-44.8-100-100-100h-221.2z" fill="currentColor"/><path d="m256 387.8c-72.7 0-131.8-59.1-131.8-131.8s59.1-131.8 131.8-131.8 131.8 59.1 131.8 131.8-59.1 131.8-131.8 131.8zm0-218.1c-47.6 0-86.3 38.7-86.3 86.3s38.7 86.3 86.3 86.3 86.3-38.7 86.3-86.3-38.7-86.3-86.3-86.3z" fill="currentColor"/><path d="m393.8 150c-17.5 0-31.8-14.3-31.8-31.8s14.3-31.8 31.8-31.8 31.8 14.3 31.8 31.8-14.3 31.8-31.8 31.8z" fill="currentColor"/></svg>`,
};

const svgContent = svgs[platform] || "";
---

<a
  aria-label={platform}
  href={platform === "bluesky"
    ? `https://bsky.app/profile/${username || "skullface"}`
    : `https://${platform}.com/${username || "skullface"}`}
>
  <div set:html={svgContent} />
</a>
