/* Header + Navigation */

.site_header {
  padding: 1rem 10%;
  margin: 0 auto;
}

.header_navigation {
  @extend %no-list;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  @extend %small-caps;
  font-weight: $font-weight_bold;
  font-size: $font-size_small;
}

  .header_logo {
    height: 50px;
    fill: $color_primary;
    &:hover, &:focus {
      fill: $color_text;
    }
  }

  .header_navigation li {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  .header_navigation a {
    color: $color_text;
    &:hover,
    &:focus {
      color: $color_primary-dark;
    }
  }
