.zine-grid,
.product-grid {
  @extend %no-list;
}

  .product-grid_zine {
    margin: 2rem;
    width: 40%;
    border-color: $color_gray-300;
    @media all and (max-width: 700px) {
      width: 100%;
    }
  }

  .product-grid_zine a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6rem;
  }

  .product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    li {
      border-style: solid;
      border-width: 4px;
      &:hover {
        border-color: $color_primary;
      }
    }
  }

  .product-grid_product {
    position: relative;
    width: 25%;
    padding: 2rem;
    border-color: #fff;
    text-align: center;
    @media only screen and (min-width: 1500px) {
      width: 20%;
    }
    @media only screen and (min-width: 601px)  and (max-width: 900px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    a:hover {
      color: inherit;
    }
  }

    .product-grid_title {
      display: block;
      margin-bottom: .25rem;
      font-size: 1rem;
      line-height: 1.2;
      color: $color_text;
    }
