.features {
  width: 80%;
  margin: -5rem auto 3rem auto;
  @media all and (max-width: 800px) {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  box-shadow: 0 0 100px rgba(0,0,0,.2);
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.catalog {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    figure {
      width: 33%;
      @media only screen and (max-width: 600px) {
        width: 50%;
      }
    }
}

.books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  @media all and (max-width: 800px) {
    flex-direction: column;
  }
}

.notebook {
  width: 35%;
  background: #292929 url('../media/paper_@2XX.png');
  color: white;
  background-size: contain;
  padding: 0 2rem 2rem 2rem;
  @media all and (max-width: 800px) {
    width: 100%;
  }
}

  .notebook h2 {
    text-align: center;
  }

  .note a, .note a h3 {
    opacity: .7;
  }

  .note a:hover, .note a:hover h3 {
    opacity: 1;
  }

  .note h3 {
    font-weight: $font-weight_semibold;
    margin-bottom: .5rem;
  }

  .note {
    font-size: 1rem;
  }

.sketchbook {
  width: 65%;
  text-align: center;
  background: #f2f2f2 url('../media/paper_@2XX.png');
  background-size: contain;
  padding-bottom: 2rem;
  @media all and (max-width: 800px) {
    width: 100%;
  }
}

.sketches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  @media only screen and (max-width: 1100px) {
    justify-content: center;
  }
  @media all and (max-width: 800px) {
    width: 100%;
  }
}

  .sketch {
    width: 29%;

    @media only screen and (min-width: 800px) and (max-width: 1100px) {
      width: 50%;
    }

    @media only screen and (max-width: 600px) {
      width: 33%;
    }
  }

  .sketch img {
    mix-blend-mode: multiply;
    max-width: 100%;
  }

  .books h2 {
    padding: 2.4rem 0 2rem 0;
    font-size: 1.25rem;
    font-weight: $font-weight_normal;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  h2 a {
    font-weight: $font-weight_semibold;
  }


