.sketchbook_sketch {
   text-align: center
}

.sketchbook_sketches {
   margin: 2rem auto;
   width: 95%
}

.sketchbook_sketch {
   margin: 0 1em 2em;
   width: 90%
}

@media only screen and (min-width: 800px) {
   .sketchbook_sketch {
       width: 46%
   }
}

@media only screen and (min-width: 1200px) {
   .sketchbook_sketch {
       width: 30%
   }
}

@media only screen and (min-width: 1440px) {
   .sketchbook_sketch {
       width: 31%
   }
}