{% include header.html %}

<section class="intro" id="💀">

{% include nav.html %}

<div class="site_content" role="document">
  <main class="site_content_main">
    <div class="page_content intro_content">
      <h1 class="page_title">Jessica Paoli,<br>“Skullface” for short.</h1>

      <p>
        I’m <s>an interdisciplinary designer, developer, and illustrator</s> a Design Babe dual-wielding compassion + cuteness in the Midwest.
      </p>

      <p>
        💕 I celebrate individuality, magic, and fun at <a href="http://falseluck.com/?utm_source=jp-home">🤞 False Luck</a>. I take on new projects selectively with <a href="http://grawlix.co/?utm_source=jp-home">👩🏻‍💻  Grawlix</a>. I <a href="/blog">📝 write</a> about my experiences in design, entrepreneurship, planning, and marketing. I recommend <a href="http://designresources.party/?utm_source=jp-home">📐 resources</a> for designers. I ask my friends about their <a href="http://securityquestions.club/?utm_source=jp-home">🎧 Security Questions</a>. Otherwise, I’m immersed in video games, makeup, my cats, and kpop.</p>
      </p>

      <p>
        As a designer, I’m passionate about inclusivity, irreverence, and intention in everything I do. Right now, I’m designing marketing experiences for millions of nerds worldwide at GitHub. I’ve had the pleasure of working with tech &amp; entertainment brands like Apple, Microsoft, Cards Against Humanity, IGN, and Vox Media on marketing and identity projects.
      </p>

    </div>
  </main>
</div>

<nav id="projects_navigation">
  <ul>
    <li id="nav_cards">
      <a data-scroll href="#cards-against-humanity">
        {% include icon_cah.svg %}
      </a>
    </li>
    <li id="nav_eater">
      <a data-scroll href="#eater-young-guns">
        {% include icon_eyg.svg %}
      </a>
    </li>
    <li id="nav_concert">
      <a data-scroll href="#concert-launch-party">
        {% include icon_concert.svg %}
      </a>
    </li>
    <li id="nav_ign">
      <a data-scroll href="#ign-snapchat">
        {% include icon_ign.svg %}
      </a>
    </li>
    <li id="nav_logo">
      <a data-scroll href="#logos-and-visual-identity">
        {% include icon_logos.svg %}
      </a>
    </li>
    <li id="nav_illo">
      <a data-scroll href="#miscellaneous-illustrations">
        {% include icon_illo.svg %}
      </a>
    </li>
  </ul>
</nav>

<section class="projects" id="projects">
  {% assign sorted = (site.projects | sort: 'path') %}
  {% for project in sorted %}
  <div class="project post_content" id="{{ project.slug }}">
    <h1 class="project_title">{{ project.title }} {% include icon_{{ project.icon }}.svg %}</h1>

    <div class="project_content">
      {{ project.description }}

      {% if project.disciplines != '' %}
      <dl class="project_metadata">
        <dt class="metadata_disciplines">Disciplines</dt>
          <dd>{{ project.disciplines }}</dd>
        {% if project.direction != '' %}
        <dt class="metadata_direction">Team</dt>
          <dd>{{ project.direction }}</dd>
        {% endif %}
      </dl>
      {% endif %}
    </div>

    {{ project.content }}
  </div>
  {% endfor %}
</section>

{% include footer.html %}
