{% include header.html %}

<section class="intro" id="💀">

{% include nav.html %}

  <div class="intro_content">
    <h1>
      Jessica Paoli, also known as Skullface, is an interdisciplinary designer dual-wielding compassion and cuteness.
    </h1>
  </div>
</section>

<nav id="projects_navigation">
  <ul>
    <li>
      <a data-scroll href="#cards-against-humanity">
        {% include icon_cah.svg %}
      </a>
    </li>
    <li>
      <a data-scroll href="#eater-young-guns">
        {% include icon_eyg.svg %}
      </a>
    </li>
    <li>
      <a data-scroll href="#concert-launch-party">
        {% include icon_concert.svg %}
      </a>
    </li>
    <li>
      <a data-scroll href="#ign-snapchat">
        {% include icon_ign.svg %}
      </a>
    </li>
    <li>
      <a data-scroll href="#logos">
        {% include icon_logos.svg %}
      </a>
    </li>
    <li>
      <a data-scroll href="#illustrations">
        {% include icon_illo.svg %}
      </a>
    </li>
  </ul>
</nav>

{{ content }}


{% include footer.html %}