/// @group colors
/// defined by descriptive variables and functional variables as needed
/// =============



$color_dark:        #111;
$color_light:       #eee;
$color_text:        #111;
$color_error:       red;
$color_primary:     #97c03f;